<%= form_with(model: general_item) do |form| %>
  <% if general_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(general_item.errors.count, "error") %> prohibited this general_item from being saved:</h2>

      <ul>
        <% general_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :item_type_id %>
    <%= form.text_field :item_type_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
