<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @general_item.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @general_item.subtitle %>
</p>

<p>
  <strong>Content:</strong>
  <%= @general_item.content %>
</p>

<p>
  <strong>Item type:</strong>
  <%= @general_item.item_type_id %>
</p>

<% @general_item.attached_images.each do |image| %>

<% end %>

<%= link_to 'Add Image', new_attached_image_path(:id => @general_item.id) %>

<%= link_to 'Edit', edit_general_item_path(@general_item) %> |
<%= link_to 'Back', general_items_path %>
