<header class="navbar navbar-light  bg-light navbar-fixed-top shadow p-1 mb-3 rounded">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>" id="jdf_title">
      <%= image_tag("common/jdf_logo.png", alt:"jdf logo", size: "40x27", id: "jdf_logo") %>静岡ムスリム協会
    </a>
    <nav>
      <ul class="nav">
        <li><%= link_to "ホーム", root_path, class: "nav-link" %> </li>
        <li><%= link_to "コラン", root_path, class: "nav-link" %> </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              会員
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if user_signed_in? %>
                
                <li><%= link_to "ログアウト", destroy_user_session_path, :method => :delete, class: "dropdown-item" %></li>
              <% else %>
                <li><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "登録", new_user_registration_path,class: "nav-link" %> </li>
              <% end %>
            </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>